<body>

<div class="album-tracks animated fadeIn" *ngIf="myDiscography != null">

<h1 class="discographyTitle"> {{this.myDiscography[0].artist}}'s discography</h1>

<div class="album-container">

<mat-grid-list cols="4" rowHeight="1:1">

<div *ngFor ="let album of this.myDiscography">

<div class="album-display">
  <mat-grid-tile>
    <img class="album-img" routerLink="/view-album/{{album.id}}" routerLinkActive="active" src="{{album.imgUrl}}" height="220" width="220" />
    <div class="album-info" routerLink="/view-album/{{album.id}}" routerLinkActive="active">
    <p>{{album.name}} ({{album.releaseDate.slice(0,4)}})</p>
    </div>
</mat-grid-tile>
</div>

</div>
</mat-grid-list>

</div>

</div>

</body>
