  .albumInfo {
      text-align: left;
      padding: 0.08em 0px;
          color: black;
          line-height: 20px;
          letter-spacing: -.04em;
  }

  mat-grid-tile {
    background: lightsalmon;
  }

  .tracklist {
   display: flex;
   flex-direction: col;
  }

  .button {
    margin-right: 20px;
    margin-left: 20px;
  }
