<mat-grid-list cols="1" rowHeight="200px" >
    <!-- album info -->
    <mat-grid-tile class="heading" rowspan="1">Your Playlist</mat-grid-tile>
    <mat-grid-tile rowspan="4">
        <div class="trackListContainer">
            <div *ngFor="let song of playlist$ | async" class="tracklist">
                <button (click)="removeSong({ track: song.track, artist: song.artist })" mat-mini-fab color="warn" class="button" aria-label="Example icon button with a remove icon"><mat-icon>remove</mat-icon></button>
                <h2>{{song.track}} by {{song.artist}}</h2>
            </div>            
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <div>
            <button mat-raised-button color="warn" (click)="reset()" >Empty playlist</button>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>