.tracklist {
    display: flex;
    flex-direction: col;
}

.button {
    margin-right: 20px;
    margin-left: 20px;
}

.heading {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

mat-grid-list {
    background-color:rgb(221, 255, 244);
    margin: 60px;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}