section {
  display: table;
}

/* The angular image in the background */
.bgimg {
  display: block;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background: url("https://wallpaperaccess.com/full/3910952.jpg") no-repeat
    center center fixed;
}

body {
  background-color: #ffb5b5;
  overflow: scroll;
}

.accent-button {
  display: table-cell;
  width: 490px;
}

.tool-button {
  display: table-cell;
  width: 100px;
  margin: 10px;
}

.mat-toolbar {
  background-color: #000b49;
}

.text-span {
  cursor: pointer;
}
