body {
  background-color: #ffb5b5;
  overflow: scroll;
}

.tool-button {
  display: table-cell;
  width: 100px;
  margin: 10px;
}

.mat-toolbar {
  background-color: #000b49;
}

.text-span {
  cursor: pointer;
}
