<h1>Search an artist</h1>

<div>
<form class ="search-field">
    <mat-form-field class="search-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search an artist..." type="text" [(ngModel)] = "searchStr" name="searchStr" (keyup) = "searchMusic()"> 
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''">
         <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
</form>
</div>

<ul>
    <div *ngFor = "let artist of this.myArtists">
        <a routerLink= "/discography/{{artist.id}}" routerLinkActive="active"> {{artist.name}}</a>
    </div>
</ul>

